/* universal */
body {
    font-family: 'Gilroy-Medium', sans-serif !important;
}
/* widths */
.fit-content {
    width: fit-content;
}
/* fontsizes */
.fsize-4rem {
    font-size: 3.5rem;
}
/* navbar */
.dropdown-submenu {
    position: relative;
}
.nav-item>a {
    color: rgba(255,255,255,1) !important;
    opacity: 1 !important;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    right: 100%;
    margin-top: -1px;
}

.navbar-nav li:hover>ul.dropdown-menu {
    display: block;
}

/* //mobile */

.navbar-collapse {
    background-color: rgba(0, 0, 0, 0.9);
}

li.nav-item {
    max-width: 20%;
}

/* //tablet--landscape */
@media only screen and (min-width:767px) {
    .navbar-collapse {
        background-color: rgba(0, 0, 0, 0);
    }

    li.nav-item {
        max-width: 100%;
    }
}