/* universal */
body {
    font-family: 'Gilroy-Medium', sans-serif !important;
}

a:hover {
    cursor: pointer;
}

/* keyframes */
@keyframes slide-in-bottom {
    0% {
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
    }

    100% {
        bottom: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}


/* asda */
.testfield1 {
    background-color: bisque;
    min-height: 500px;
}

.testfield2 {
    background-color: turquoise;
    min-height: 500px;
}

/* ------------------------------------- */
/* margins */
.ml-13 {
    margin-left: 13rem !important;
}

.mr-13 {
    margin-right: 13rem !important;
}

/* ------------------------------------- */
/*text colors */
.text-purple1 {
    color: #9B51E0;
}

.text-green2 {
    color: rgba(39, 174, 96, 1);

}

.text-gray3 {
    color: #828282 !important;
}

.text-gray4 {
    color: rgba(189, 189, 189, 1);
}

.text-gray6 {
    color: rgba(242, 242, 242, 1) !important;
}

/* ------------------------------------- */
/* bg colors */
.bg-gray3 {
    background-color: #828282 !important;
}

.bg-gray6 {
    background-color: rgba(242, 242, 242, 1) !important;
}

.bg-white-opa-80 {
    background-color: rgba(255, 255, 255, 0.8);
}

/* ------------------------------------- */
/* float and clear */
.clear-start {
    clear: right;
}

/* list */
.list-style-disc li::before {
    content: "•";
    padding-right: 0.75rem;
    color: black;
}

.list-style-cross li::before {
    content: "+";
    padding-right: 0.75rem;
    color: black;
}



.disc-orange li::before {
    color: rgba(235, 87, 87, 1);

}

.padding-inline-start-1rem {
    padding-inline-start: 1rem;
}

/* ------------------------------------- */
/* flex */
.col-gap-1 {
    column-gap: 0.5rem !important;
}

/* ------------------------------------- */
/* widths */
.vw-100--noscroll {
    width: calc(100vw - (100vw - 100%));
}

.fit-content {
    width: fit-content;
}

.minw-3rem {
    min-width: 3rem;
}

.w-45 {
    width: 45%;
}

.w-55 {
    width: 55%;
}

.h-73 {
    height: 73%;
}

.mw-39 {
    max-width: 39%;
}

.mw-47 {
    max-width: 47%;
}

.mw-55 {
    max-width: 55%;
}

.mh-73 {
    max-height: 73%;
}

/* ------------------------------------- */
/* positions */
.bottom-15 {
    bottom: 15% !important;
}

/* ------------------------------------- */
/* image fit */
.object-fit--cover {
    object-fit: cover !important;
}

.object-fit--contain {
    object-fit: contain !important;
}

.object-fit--scaledown {
    object-fit: scale-down !important;
}

/* ------------------------------------- */
/* fontsizes */
.fsize-4rem {
    font-size: 3.5rem;
}

.fsize-3rem {
    font-size: 3rem;
}


/* ------------------------------------- */
/* navbar */
.start-screen .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.start-screen .custom-toggler.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.8);
    border-width: 0.15rem;
}

.start-screen .dropdown-submenu {
    position: relative;
}

.start-screen .dropdown-submenu .dropdown-menu {
    top: 0;
    right: 100%;
    margin-top: -1px;
}

.start-screen .navbar-nav li:hover>ul.dropdown-menu {
    display: block;
}

.start-screen .carousel,
.start-screen .carousel-inner,
.start-screen .carousel-item {
    height: 100vh !important;
}

.start-screen .carousel-item img {
    position: absolute;
    object-fit: cover !important;
    width: 100%;
    height: 100vh;
}

/* ------------------------------------- */
/* new customer email */
.new-customer input[type="email"] {
    border-bottom: 1px solid #e0e0e0 !important;
    max-width: 40%;
}

.login-page input[type="email"i],
.login-page input[type="password"i],
.login-page input[type="text"i] {
    padding-left: 0;
}

/* ------------------------------------- */
/* filters */
.listing--side-panel .navbar .navbar-toggler-icon,
.listing--side-panel .navbar .custom-toggler {
    background-image: none;
    width: 100%;
    height: auto;
}

.option--outer {
    width: 1.5rem;
    height: 1.5rem;
}

.option {
    width: 1rem;
    height: 1rem;
}

.chooseme:hover>.option--outer {
    visibility: visible !important;
    cursor: pointer;
}

input[type="checkbox"]:checked+label>.option--outer {
    visibility: visible !important;
}

/* ------------------------------------- */

/* main-panel */
/* sort bar */
.listing--main-panel .dropdown .dropdown-toggle:after {
    display: none;
}

/* add to cart */
.listing--main-panel .card:hover>button,
.related-products .card:hover>button {
    visibility: visible !important;
    animation-name: slide-in-bottom;
    animation-duration: 0.75s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

.listing--main-panel .card button:hover,
.related-products .card button:hover {
    background-color: black !important;
    border: 1px solid white !important;
    color: white;
}

/* ------------------------------------- */
/* pagination */
.page-item {
    width: 2rem;
    height: 2rem;
}

.page-item:not(:last-of-type):hover {
    background-color: #F2F2F2;

}


/* ------------------------------------- */
/* footer */
.footer div.col:last-of-type ul li {
    background: url(../img/icon-greencheck.svg) no-repeat left center;
    padding-left: 1.2rem;
}

/* detail */
/* product picker */

/* color and size picker */
input[type="radio"]:checked+label>.option--outer {
    visibility: visible !important;
}

/* ------------------------------------- */
/* Responsive*/
/* ------------------------------------- */

/* //mobile */
.margined {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}

.start-screen a.navbar-brand {
    font-size: 1rem !important;
}

.start-screen .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.9);
}

.start-screen .nav-item>a {
    color: rgba(255, 255, 255, 1) !important;
    opacity: 1 !important;
}

.start-screen li.nav-item {
    max-width: 20%;
}

.start-screen .shop-now {
    color: white;
    background-color: black;
    padding: 2px;
}

main article>img,
main article>p {
    width: 100% !important;
}

.collection-item {
    height: 30rem;
    width: 90%;
    object-fit: cover;
    margin: 0 5%;
}

.new-customer {
    width: auto;
    height: auto;
}

/* ------------------------------------- */
/* tablet */

@media only screen and (min-width:576px) {
    .margined {
        margin-left: 3rem !important;
        margin-right: 3rem !important;
    }

    .start-screen a.navbar-brand {
        font-size: 2rem !important;
    }

    .start-screen .navbar-collapse {
        background-color: rgba(0, 0, 0, 0);
    }

    .start-screen .nav-item>a {
        color: rgba(0, 0, 0, 1) !important;
        opacity: 1 !important;
    }

    .start-screen li.nav-item {
        max-width: 100%;
    }

    .start-screen .carousel,
    .start-screen .carousel-inner,
    .start-screen .carousel-item {
        height: 100vh !important;
    }

    .start-screen .shop-now {
        color: black;
        background-color: transparent;
        padding: 0;
    }

    main article>img {
        width: 55% !important;
    }

    main article>p {
        width: 40% !important;
    }

    .collection-item {
        height: 30rem;
        width: 100%;
        object-fit: cover;
        margin: 0;
    }

    .new-customer {
        position: absolute;
        width: 55%;
        min-height: 73%;
        max-height: 100%;
        transform: translate(-50%, -50%);
    }
}

/* ------------------------------------- */
/* desktops */
@media only screen and (min-width:768px) {}

@media only screen and (min-width:992px) {
    .margined {
        margin-left: 8rem !important;
        margin-right: 8rem !important;
    }

    .collection-item {
        height: 100%;
        width: 100%;
        object-fit: cover;
        margin: 0;
    }

    .thumbnails img {
        width: 100%;
    }
}

/* ------------------------------------- */
/* larger */
@media only screen and (min-width:1200px) {
    .collection-item {
        height: 100%;
        width: 100%;
        object-fit: cover;
        margin: 0;
    }
}

/* ------------------------------------- */
/* larger desktop */
@media only screen and (min-width:1400px) {
    .margined {
        margin-left: 13rem !important;
        margin-right: 13rem !important;
    }
}